// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gamesMain {
  min-width: 1000;
}

.findMatch {
  input[type="submit"] {
    width: 150px;
    height: 30px;
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

.leaderboards {
  position: absolute;
  top: 30px;
  right: 20px;
  text-align: center;
  td, th {
    padding: 5px
  }
}

.gameList {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.matchList {
  td, th {
    padding: 5px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
  }
}

.container, #leftBar, #rightBar, #content {
  /*border:1px solid;/**/
}

.games-container {
  position: relative;
  padding: 0 205px 0 205px;
  min-width: 500px;
}

#leftBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
}

#rightBar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
}

#content {
  margin: 5px 0 5px 0;
}

#make-bot {
  margin: 0 30px 0 0;
  font-size: large;
  font-weight: bold;
}

.api-description {
  font-size: large;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

pre {
  font-size: medium;
}