// Place all the styles related to the maze controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#skipButton {
  width: 150px;
  height: 30px;
  display: none;
}

#gameDiv {
  visibility: hidden
}

canvas {
  position: relative;
}

button {
  cursor: pointer;
}

#verdict {
  display: none;
  color: red;
}

#firstPlayer {
  color: red;
}

#secondPlayer {
  color: green;
}

#description {
  td, th {
    padding: 5px
  }
}