<h1 align="center"> 2048 API </h1>
<div class="api-description">
  <p>Бота вы запускаете на своем компьютере. Он должен подключаться к сокету по адресу <%= "#{Rails.configuration.server_ip}:#{Rails.configuration.socket_port}" %>.</p>

  <p>Для обмена сообщениями с сервером используется формат JSON.
  Сообщения в примерах отформатированы для читаемости. <strong>Вы должны писать каждое сообщение целиком в одну строку.</strong>
    Сообщения от сервера также располагаются в одной строке.
    </p>

  Сначала нужно отправить запрос, в котором указывается, какая игра вас интересует, и ваш бот-токен.
    <pre class="prettyprint"><code>{
    "game": "2048",
    "bot_token": "481a35bfa94d68d34f0962609df8f807",
    "data": {
        "type":"game-request"
    }
}</code></pre>

  <br/>

  В ответ сервер пришлет сообщение инициализации.
    <pre class="prettyprint"><code>{
      "type": "init",
      "size": 4
      "board": [{
        "x": 0,
        "y": 2,
        "value": 2
      }, {
        "x": 3,
        "y": 2,
        "value": 4
      }],
}</code></pre>
  <br/>
  Ось X направлена вниз, а ось Y - направо. Сообщение в примере описывает такую позицию:
  <%= image_tag('2048-position-sample.jpg', size: '400x400') %>
  <br/>


  После этого до конца игры вы делаете ход, и сервер присылает описание появившегося после хода тайла. Ход посылается в таком формате:
<pre class="prettyprint"><code>{
    "type": "move",
    "move": "down"
}</code></pre>

  Поле "move" может принимать одно из значений: "up", "left", "down", "right".

  <br/><br/>

  В ответ на ход сервер собщает значение нового тайла.
  <pre class="prettyprint"><code>{
    "type": "newTile",
    "newTile": {
        "x": 1,
        "y": 3,
        "value": 2
    },
    "board": [
        {"x":0,"y":0,"value":2},
        {"x":1,"y":0,"value":2},
        {"x":3,"y":0,"value":2}
    ]
}</code></pre>

  Впрочем, как видите, сервер также посылает полное состояние игрового поля после каждого хода.
  Это сделано для упрощения написания ботов с нуля.
  Для создания более сильного бота вам наверняка понадобится самостоятельно реализовать вычисление состояния после хода.

  <p>После завершения игры сервер сразу разрывает соединение.</p>
  <p>Если ваш бот разорвет соединение до конца игры, игра будет корректно завершена, и результат будет учтен.</p>
  <p><strong>Не забывайте делать flush после каждой отправки сообщения.</strong></p>
  Пример простейшего бота на Java. Он делает первый попавшийся корректный ход.

  <pre class="prettyprint"><code>import com.google.gson.*;

import java.io.*;
import java.net.Socket;
import java.util.Scanner;

public class SimpleBot2048 {

    public static void main(String[] args) throws Throwable {
        new SimpleBot2048().run();
    }

    Gson gson = new Gson();
    int size;

    private void run() throws Throwable {
        Socket socket = new Socket("<%=Rails.configuration.server_ip%>", <%=Rails.configuration.socket_port%>);
        Scanner in = new Scanner(socket.getInputStream());
        PrintWriter out = new PrintWriter(socket.getOutputStream(), true); // true for autoflush

        JsonObject request = new JsonObject();

        request.addProperty("bot_token", "2ca0d11152f77bfc6d09e30271c20cb3");
        request.addProperty("game", "2048");
        JsonObject data = new JsonObject();
        data.addProperty("type", "game-request");
        request.add("data", data);

        out.println(request);

        String s = in.nextLine();
        JsonObject message = gson.fromJson(s, JsonObject.class);
        size = message.get("size").getAsInt();
        int[][] board = getBoard(message);
        while (true) {
            Move move = findMove(board);
            if (move == null) {
                break;
            }
            JsonObject msg = new JsonObject();
            msg.addProperty("type", "move");
            msg.addProperty("move", move.toString());
            out.println(msg);

            s = in.nextLine();
            message = gson.fromJson(s, JsonObject.class);
            Tile newTile = gson.fromJson(message.get("newTile"), Tile.class);
            board = getBoard(message);
            /*
             * Такой простой бот делает ходы (и проигрывает) очень быстро.
             * Добавим задержку, чтобы за игрой было удобнее наблюдать.
             */
            Thread.sleep(500);
        }
    }

    private int[][] getBoard(JsonObject message) {
        Tile[] tiles = gson.fromJson(message.get("board"), Tile[].class);
        int[][] board = new int[size][size];
        for (Tile tile : tiles) {
            board[tile.x][tile.y] = tile.value;
        }
        return board;
    }

    private Move findMove(int[][] board) {
        for (Move move : Move.values()) {
            if (validMove(board, move)) {
                return move;
            }
        }
        return null;
    }

    private boolean validMove(int[][] board, Move move) {
        for (int i = 0; i < size; i++) {
            for (int j = 0; j < size; j++) {
                int x = i, y = j;
                int prev = -1;
                while (x >= 0 && x < size && y >= 0 && y < size) {
                    if (board[x][y] != 0) {
                        if (board[x][y] == prev) {
                            return true;
                        }
                        prev = board[x][y];
                    }
                    if(board[x][y] == 0 && prev != -1) {
                        return true;
                    }
                    x += move.dx;
                    y += move.dy;
                }
            }
        }
        return false;
    }

    enum Move {
        left(0, -1),
        up(-1, 0),
        right(0, 1),
        down(1, 0);

        final int dx, dy;

        Move(int dx, int dy) {
            this.dx = dx;
            this.dy = dy;
        }
    }

    static class Tile {
        int x, y, value;
    }
}</code></pre>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</div>
