<% content_for :header do %>
  <%= stylesheet_link_tag '2048' %>
  <%= javascript_include_tag '2048' %>
<% end %>

<div class="container">
  <div class="heading">
    <h1 class="title">2048</h1>
    <div class="scores-container">
      <div class="score-container">0</div>
      <div class="best-container">0</div>
    </div>
  </div>

  <div class="above-game">
    <p class="game-intro">2048 tile is too easy. <br> Join the numbers and get to the <strong>262140</strong> score.</p>
    <a class="restart-button">New Game</a>
  </div>

  <div class="game-container">
    <div class="game-message">
      <p></p>
      <div class="lower">
        <a class="keep-playing-button">Keep going</a>
        <a class="retry-button">Try again</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
      <div class="grid-row">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
    </div>

    <div class="tile-container">
    </div>    
  </div>  
  <p id="youAreWatching" class="game-explanation">
  </p>  
    <p>
    Shameless ripoff of <a href="http://gabrielecirulli.github.io/2048">Gabriele Cirulli game</a>
    </p>
</div>

<script>
  <%= raw("new GameApp(Game2048Manager, #{@js_params.to_json}).start()") %>
</script>  