<div class = "findMatch" align="center">
	<%= form_tag("/games/#{@game_name}/play" , method: "get") do %>
    	<%= submit_tag("Find match") %>
    	<br/>
    	<%= check_box_tag(:human_only) %>
    	<%= label_tag(:human_only, "With human only") %>
    <% end %>
    <br/>
</div>