<%= form_for game do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
   
      <ul>
      <% game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<h1>New game</h1>
	
	<h2>Options:</h2>
		<p>
			<%= f.label :size %><br>
			<%= f.text_field :size %>
		</p>

	<p>
		<%= f.submit 'Start' %>
	</p>
<% end %>