<h1><%= "Game ##{game.id}" %></h1>
	
	<h2>Options:</h2>
  <%= "Size: #{game.size}" %><br>
  <%= "Player #1: #{game.player1.try(:email) || 'empty'}" %><br>
  <%= "Player #2: #{game.player2.try(:email) || 'empty'}" %><br>
  