<div>
<table class="leaderboards">
	<thead>		
		<tr>
			<th colspan="2">Leaderboards</th>
		</tr>
		<tr>
			<th>
				Player
			</th>
			<th>
				Rating
			</th>
		</tr>
	</thead>
	<%p = ActiveRecord::Base.connection.execute(
		"SELECT username, value, is_bot " \
		"FROM users join players on players.user_id = users.id " \
		"JOIN ratings ON ratings.player_id = players.id " \
		"where game = '#{@game_name}' " \
		"ORDER BY value desc "
		).each do |x| %>
	 	<tr>
	 		<td>
	 			<%= render_player(x["username"], x["is_bot"] == 't') %>
	 		</td>		 		
	 	
	 		<td>
	 			<%= x["value"].round %> 
	 		</td>
	 	</tr>
	<% end %>	
</table>
</div>