<div class="matchList">
	<table>
		<tr>
			<th colspan="2"> Live matches </th>
		</tr>
		<% @matches.each do |m| %>
			<tr>
				<td>
					<ul>
						<%m.players.each do |p| %>
							<li>
								<%= render_player(p.user.username, p.is_bot) %>
							</li>
						<% end %>
					</ul>
				</td>
				<td>
					<%= link_to "watch", "/games/#{@game_name}/watch/?match_id=#{m.id}" %>
				</td>
			<tr>
		<% end %>
	</table>
</div>