<% content_for :header do %>
    <%= stylesheet_link_tag 'maze' %>
    <%= javascript_include_tag 'maze' %>
<% end %>

<h1 align="center">
  <%= @game_name.capitalize %>
</h1>

<div align="center">
  <label id="searchingLabel">
    Finding match. Wait.
  </label>
</div>

<div id="gameDiv" align="center">
  <table id="description">
    <tr>
      <td>
        <label id="firstPlayer"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label id="secondPlayer"></label>
      </td>
    </tr>
  </table>
  <p>
  <label id="currentActionLabel"></label>
  </p>
  <p>
    <canvas id="mazeCanvas"></canvas>
  <p>
    <label id="verdict">verdict</label>
  </p>

  <p>
    <button id="skipButton">Skip move</button>
  <p>
</div>
<script>
    <%= raw("new GameApp(MazeGameManager, #{@js_params.to_json}).start()") %>
</script>