<!DOCTYPE html>
<html>
<head>  
  <title>AIChallenge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= content_for :header %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "currentUser">
  	<% if current_user %>
      <%= current_user.username %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <br/>
      bot-token: <%= current_user.bot_token %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
	<%= yield %>

  <footer align="center" style="visibility:hidden">
    <%= mail_to "nikita.glashenko@gmail.com" %>
  </footer>
</body>
</html>
