<div class="games-container">
    <div id="leftBar">
    	<%= render 'game_list' %>
    </div>

    <div id="content">
    	<%= yield %>
    </div>

    <div id="rightBar">
        <div id="make-bot" align="right">
        <%= link_to 'Make your own bot', "/games/#{@game_name}/api" %>
        </div>
    	<%= render 'leaderboards' %>
    </div>
</div>
<% parent_layout 'application' %>